@model ChatWebApp.Models.Chat.ChatMessageBlock
@{
    ViewData["Title"] = "Editing Text";
    ViewData["UserId"] = Model.SenderId;
}
<div class="group-container">
    <div class="chat-container">
        <div class="show-chat margin-top-20">  
            <form asp-controller="Chat" asp-action="Edit" asp-route-Id="@Model.Id" asp-route-senderId="@Model.SenderId" method="post" class="chat-form" id="send-message">
                <textarea name="text"  class="chat-input" form="send-message" required>@Model.Text</textarea>
                <button class="chat-submit" type="submit" ><span>Edit</span></button>
            </form> 

        </div>
    </div>
</div>
